@charset "UTF-8";

body{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(48, 197, 148);
}

h1.principal{
    text-align: center;
}

h2{
    color: blueviolet;
}