*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #9BF3F0, #DAFFED);
}

main{
    width: 600px;
    padding: 10px;
    background-color: white;
    box-shadow: 5px 5px 15px #67a3a1;
    margin: auto;
}

h1{
    color: #804370;
    text-align: center;
    text-shadow: 1px 1px 2px #42213a8e;
}
h2{
    color: #A26769;
}
p{
    text-align: justify;
}